<section class="topbar">
  <aside class="container">
    <span class="topbar-info">
      <span class="working">
        <span class="material-icons-outlined icon"> schedule </span>
        <span class="h6">Work time:Monday - Sunday: 08AM - 06PM</span>
      </span>
      <span class="call">
        <span class="material-icons icon"> call </span>
        <span class="h6">+06 6666 8888</span>
      </span>
      <span class="mail">
        <span class="material-icons-outlined icon"> email </span>
        <span class="h6">support@bionic.com</span>
      </span>
    </span>
    <span class="topbar-info-right">
      <span class="store">
        <span class="material-icons icon"> store </span>
        <span class="h6">Store Location</span>
      </span>
      <span class="shipping">
        <span class="material-icons icon"> local_shipping </span>
        <span class="h6">Free Shipping on Orders $100+</span>
      </span>
    </span>
  </aside>
</section>
